/* 테이블을 감싸는 모달의 바디가 스크롤 가능하도록 설정 */
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 전체 높이 */
}

.modal-body-responsive {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
}
