.login-button-area {
  align-items: center;
}

.login-form {
  width: 50%;
}
.login-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
}
/* 모바일 화면에 맞춘 반응형 스타일 */
@media (max-width: 768px) {
  .login-form {
    width: 100%; /* 모바일 화면일 때 너비를 100%로 설정 */
  }

  .login-area {
    padding: 10px; /* 모바일 화면에서 여백을 조금 더 추가해 가독성 증가 */
  }
}
